<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="../verify.js"></script>
    <title>Secret Santa</title>
</head>
<body>
    <form action="http://localhost:3500" class="box1" method="POST">
        <h2>Join a room</h2>
        <input type="text" name="code" placeholder="Enter Roomcode"/>
        <button>Submit</button>
    </form>

    <form action="http://localhost:3500" class='box2' method="POST">
        <h2>Create a room</h2>
        <input type="text" name="name" placeholder="Enter Roomname"/>
        <button>Submit</button>
    </form>
    
</body>
</html>